<?xml version="1.0" encoding="utf-8"?>  
<configuration>  
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	  <remove fileExtension=".mp4" />
	  <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
	  <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
	  
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="X-Requested-With,Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,DELETE,PUT,PATCH" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
		<clear/>
		<rule name="Rewrite routed access to assets(img, images, fonts, css, files, js, favicon)" stopProcessing="true">
			<match url="^(img|images|fonts|css|files|js|favicon.ico)(.*)$" />
		</rule>
        <rule name="Laravel5" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
		<rule name="Redirect to https">
			<match url="(.*)"/>
			<conditions>
			 <add input="{HTTPS}" pattern="Off"/>
			</conditions>
			<action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
		</rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>  